@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background:white;
}

body.active { overflow: hidden; }

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: fixed;
    background: white;
    box-shadow: 10px 1px 7px 4px rgb(124, 120, 120);
    z-index: 3;
    height: 60px;
    top:0;

}

header li{
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

header ul{
    position: absolute;
    right: 88px;
    top: 0;
    font-size: 25px;
}