@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


*{
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3A86FF;
}

body,html {
    background:white;
    overflow-x: hidden;
}




/* start header Area */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: fixed;
    background: white;
    box-shadow: 10px 1px 7px 4px rgb(124, 120, 120);
    z-index: 3;
    height: 60px;
    top:0;

}

header li{
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

header ul{
    position: absolute;
    right: 88px;
    top: 0;
    font-size: 25px;
    font-weight: 800;
}

.links:hover{
    position: relative;

}
.links:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #3A86FF;

}

header ul li:hover a, header ul li:hover {
    cursor: pointer;
    color: #3A86FF;
}

.navbar .logo img{
    position: relative;
    width: 50px;
    margin-left: 50px;

}

/* end header Area */

/* start Banner Area */
#Home{
    width: 100%;
}
.site-banner .banner-text{
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 30px;
    align-content: center;
}

.site-banner .banner-img{
    position: absolute;
    right: 50px;
    top: 100px;
    margin: auto;
}

.titel-text{
    margin-top: 40px;
    font-size: 70px;
    font-weight: 900;
}

.banner-text h1{
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;

}

.main-content{
    color: #3A86FF;
}

.banner-text .animated-info{
    font-size: 35px;
    font-weight: 800;
}

.social-icon{
    margin-top: 30px;
}

/* end banner Area */

/* start about Area */
#About{
    display: inline-block;
    align-content: center;
    width: 100%;
}

.about-img{
    position:absolute;
    left: 50px;
}

.about-text h2{
    display: block;
    font-size: 60px;
    letter-spacing: 21px;
}

.about-text .text-uppercase{
    padding-top: 20px;
    padding-left: 900px;
    font-size: 55px;
}
.about-text .para {
    padding-left: 800px;
    font-size: 25px;
    font-weight: 800;
    text-align: justify;
}
.about-btn .btn{
    width: 196px;
    height: 56px;
    margin-left: 900px;
    border-radius: 8px;
    background-color: #3A86FF;
    color: white;
    border: none;
    box-shadow:10px 1px 7px 4px rgb(124, 120, 120)
}


/* end about Area */

/* start skill Area */
.site-skill {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section-titel{

    position: absolute;
    font-size: 70px;
    letter-spacing: 21px;
    width: 50%;
}

.section-text{
    width: 40%;
}

.skill-card {
    position: relative;
    background: hsl(0, 0%, 100%);
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    box-shadow: 10px 10px 40px ;
    list-style: none;

}

.skills-content{
    position: relative;
    display: flex;
    justify-content: center;
}
.skills-content>h2{
    /* position: absolute; */
    left: 0;
    margin-right: 20px;
}
.skills-content>p{
    position: absolute;
    top: 100px;
    left: 0;
}

.skills-box{

    display: flex;
    flex-direction: column;
    align-items: end;

    /* grid-template-columns:repeat(5,1fr);
    grid-template-columns:repeat(3,1fr) ; */
}

.skill-list,  .tool-list{
    display: grid;
    flex-wrap: wrap;

    gap: 15px;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    justify-content: flex-end;
}

.section-title{
    display: block;
    font-size: 60px;
}

.section-text{
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    margin-top: 50px;
}

/* End  skill Area */

/* start service Area */
.site-service{
    padding: 7rem 2rem;
    display: flex;
    align-content: center;
    width: 100%;
}
.site-service .services{

    background:#C3BEF0;
    padding: 2rem 0;
    width: 350px;
    height: 350px;
    margin:auto;
    transition: box-shadow .7s ease;
    box-shadow:10px 1px 7px 4px rgb(124, 120, 120)
}

.site-service .service-img {
    text-align: center;
}

.site-service .card-title{

    font-size: 40px;
    text-align: center;

}

/* End service Area */

/* start project Area */
.project-topic{
    text-align: center;
    font-size: 60px;
}

.wrapper {
    padding: 30px 0;
    min-height: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container {
    height: 360px;
    width: 360px;
    padding: 12px;
    position: relative;
    background: linear-gradient(#529fe9 50%, #1e202b 50%) 0 100% no-repeat;
    background-size: 100% 200%;
    transition: 0.7s;
    overflow: hidden;
}
.img-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.container img {
    width: 100%;
    height: 100%;
}
.container:hover {
    background-position: 0 0;
}
.details {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    bottom: -100px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.7s;
}
h3,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
h3 {
    letter-spacing: 1px;
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 5px 0;
}
.container:hover .details {
    bottom: 30px;
}
.img-wrapper:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.7s;
}
.container:hover .img-wrapper:after {
    opacity: 0.5;
}
i:hover {
    color: #529fe9;
    cursor: pointer;
}

.btn-project{
    display: flex;
    justify-content: center;

}
.project-btn{
    padding:auto;
    width: 150px;
    height: 50px;
    border: 1px solid;
    border-color: #212121;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    background-color: black;
    color: inherit;
    box-shadow: 0 0 10px #212121;
}
.project-btn:hover
{
    background-color:#3A86FF;
    color: white;
    border-color:#3A86FF ;
    cursor: pointer;
}

/* End project Area */


/* start Assignment Area */
.assignment-topic{
    text-align: center;
    font-size: 60px;
}

.assi {
    padding: 30px 0;
    min-height: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    height: 360px;
    width: 360px;
    padding: 12px;
    position: relative;
    background: linear-gradient(#3A86FF 50%, #1e202b 50%) 0 100% no-repeat;
    background-size: 100% 200%;
    transition: 0.7s;
    overflow: hidden;
}
.img-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.card img {
    width: 100%;
    height: 100%;
}
.card:hover {
    background-position: 0 0;
}
.infor {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    bottom: -100px;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.7s;
}
h3,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
h3 {
    letter-spacing: 1px;
    font-size: 14px;
}
h5 {
    font-size: 12px;
}
.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 5px 0;
}
.card:hover .infor {
    bottom: 30px;
}
.img-wrapper:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.7s;
}
.card:hover .img-wrapper:after {
    opacity: 0.5;
}
i:hover {
    color: #529fe9;
    cursor: pointer;
}
.btn-Assignment{
    display: flex;
    justify-content: center;

}
.assignment-btn{
    padding:auto;
    width: 150px;
    height: 50px;
    border: 1px solid;
    border-color: #212121;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    background-color: black;
    color: inherit;
    box-shadow: 0 0 10px #212121;
}
.project-btn:hover
{
    background-color:#3A86FF;
    color: white;
    border-color:#3A86FF ;
    cursor: pointer;
}

/* End assignment Area */






/* start contact Area */
#Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.title
{
    font-size: 50px;
    font-weight: bold;
    padding: 1.5% 0;
}

.title-info
{
    padding-bottom: 2%;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2%;
}

.input-group, .textarea-group
{
    padding: 1% 0;
}

input, textarea
{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 1.5%;
    font-size: 20px;
}

input:focus, textarea:focus
{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #3A86FF;
}

input::placeholder, textarea::placeholder
{
    color: transparent;
}

label
{
    color: #757575;
    position: relative;
    left: 0.5em;
    top: -2em;
    cursor: auto;
    transition: 0.3s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label
{
    top: -4em;
    color: #3A86FF;
    font-size: 15px;
}

textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
{
    top: -10.5em;
    color: #3A86FF;
    font-size: 15px;
}

.button-div
{
    display: flex;
    justify-content: center;
}

.contac-btn
{
    padding: 2%;
    width: 50%;
    border: 1px solid;
    border-color: #212121;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    background-color: black;
    color: inherit;
    box-shadow: 0 0 10px #212121;
}

.contac-btn:hover
{
    background-color:#3A86FF;
    color: white;
    border-color:#3A86FF ;
    cursor: pointer;
}
/* End contact Area */

/* Start footer Area */
#footer{
    width: 100%;
    min-height: 300px;
    background-color: #3A86FF;
    margin-top: 10px;
    clear: both;
}
footer .footer-wrap{
    width: 80%;
    margin: 0 auto;
    padding-left: 9%;
    color: white;
}
.widgetFooter{
    width: calc(85%/3);
    height: auto;
    float: left;
    padding: 2.5%;
    text-align: left;
}
h4.uppercase{
    text-transform: uppercase;
}
ul#footerUsefulLink, ul#footerMediaLinks{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-transform: capitalize;
}
ul#footerUsefulLink li, ul#footerMediaLinks li{
    cursor: pointer;
    /* transition: border-bottom 3s ease-in; */
}
ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
    color: #00CED1;
    /* border-bottom: 1px solid red; */
}
ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { color: #ffc838; }
ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit { color: #ffc838; }
ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta { color: #ffc838; }
ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git { color:#ffc838 ; }

div#footerLogo img{
    height: 50px;
    width: 50px;
    margin: 25% 0;
}

div.footerCopy{
    clear: both;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-top: 1px solid #ccc;
}



/* End footer Area */